{% extends 'baseFront.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header d-sm-flex align-items-center justify-content-between">
                        <h6>Cours</h6>
                        <h5>Page: {{ knp_pagination_render(cours) }}</h5>
                        <a href="{{ path('cours_new') }}" class=" text-white bg-success mx-3 p-2 rounded-3">Create new</a>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Responsable
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Titre
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Contexte
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Support
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Date Publication
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cour in cours %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ cour.Tuteur }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ cour.contact }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ cour.nomination }}</p>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ cour.matiere }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ cour.sujet }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ cour.type }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ cour.support }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ cour.DatePublication|date('d/m/Y') }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <h5 class=" bg-success rounded-3 p-2 text-white">
                                        <span>{{ cour.participantsNb }} <i class="bi-person"> paticipants</i></span>
                                        </h5>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{{ path('cours_show', {'CodeCours': cour.CodeCours}) }}"><h5><i class="bi-eye text-info text-s"></i></h5></a>
                                        <a href="{{ path('cours_edit', {'CodeCours': cour.CodeCours}) }}"><h5><i class="bi-pencil-square text-warning"></i></h5></a>
                                        <a href="{{ path('sendMailToUser', {'CodeCours': cour.CodeCours}) }}"><h5><i class="bi-mailbox text-info"></i></h5></a>
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
